.page__main {
  padding-top: var(--header-height);
}

/* .section {
  min-height: 100vh;
} */

.section--intoart,
.section--aboutme,
.section--contact,
.section--impressum,
.section--showcase {
  padding: 0;
}

.section--showcase {
  overflow: hidden; 
  color: var(--color-text);
}

.showcase__panels {
  display: flex;
  height: 100%;
}

.showcase__panel {
  flex: 0 0 100%;
  height: 100vh;
}

.intoart-grid,
.aboutme-grid,
.contact-grid,
.impressum-grid,
.showcase-grid {
  display: grid;
  width: 100%;
  height: 100vh;
  border: var(--border-size) solid var(--border-color);
  box-sizing: border-box;
  background: var(--color-background);
}

.intoart-grid {
  height: 50vh;
}

.intoart-grid .tile,
.aboutme-grid .tile,
.contact-grid .tile,
.impressum-grid .tile,
.showcase-grid .tile {
  position: relative;
  overflow: hidden;
  border: var(--tile-border-size) solid var(--tile-border-color);
  background: var(--color-background);
}

.aboutme-grid,
.contact-grid,
.impressum-grid,
.showcase-grid {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.intoart-grid {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}